
@-webkit-keyframes fadeOutLeft {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes fadeOutLeft {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.fadeOutLeft {
  -webkit-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft;
}

.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}



.new-invoice-content{
  margin-top: 3vh;
  height: 78vh;
  text-align: right;
}
.image-new-trip{
  height: 60%;
  position: absolute;
  top: 33vh;
  left: 2vh;
}
.mat-stepper-vertical {
  margin-top: 8px;
}
.mat-form-field {
  text-align: right;
  font-size: 16px;
  font-family: b nazanin;
  width: 15rem;
}
.mat-step-header{
  font-family: B titr;
  margin-right: 8px;
}
.trip-detail-textarea{
  height: 90px;
}



