<div class="new-invoice-content row">
  <div class="col-4">
    <mat-card *ngIf="showFlag1" class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title [textContent]="tripDestTitle[2]"></mat-card-title>
        <mat-card-subtitle [textContent]="tripDateString[2]"></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p [textContent]="tripDetailString[2]" class="trip-detail-dtext"></p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="col-4">
    <mat-card *ngIf="showFlag2"  class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image2"></div>
        <mat-card-title [textContent]="tripDestTitle[1]"></mat-card-title>
        <mat-card-subtitle [textContent]="tripDateString[1]"></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p [textContent]="tripDetailString[1]" class="trip-detail-dtext"></p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="col-4">
    <mat-card *ngIf="showFlag3"  class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image3"></div>
        <mat-card-title [textContent]="tripDestTitle[0]"></mat-card-title>
        <mat-card-subtitle [textContent]="tripDateString[0]"></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p [textContent]="tripDetailString[0]" class="trip-detail-dtext"></p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<div class="new-invoice-content row">
  <div class="col-4">
    <mat-card *ngIf="showFlag4"  class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image2"></div>
        <mat-card-title [textContent]="tripDestTitle[5]"></mat-card-title>
        <mat-card-subtitle [textContent]="tripDateString[5]"></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p [textContent]="tripDetailString[5]" class="trip-detail-dtext"></p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="col-4">
    <mat-card *ngIf="showFlag5"  class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image3"></div>
        <mat-card-title [textContent]="tripDestTitle[4]"></mat-card-title>
        <mat-card-subtitle [textContent]="tripDateString[4]"></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p [textContent]="tripDetailString[4]" class="trip-detail-dtext"></p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="col-4">
    <mat-card *ngIf="showFlag6" class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title [textContent]="tripDestTitle[3]"></mat-card-title>
        <mat-card-subtitle [textContent]="tripDateString[3]"></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p [textContent]="tripDetailString[3]" class="trip-detail-dtext"></p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<div class="new-invoice-content row">
  <div class="col-4">
    <mat-card *ngIf="showFlag7"  class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image3"></div>
        <mat-card-title [textContent]="tripDestTitle[8]"></mat-card-title>
        <mat-card-subtitle [textContent]="tripDateString[8]"></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p [textContent]="tripDetailString[8]" class="trip-detail-dtext"></p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="col-4">
    <mat-card *ngIf="showFlag8"  class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title [textContent]="tripDestTitle[7]"></mat-card-title>
        <mat-card-subtitle [textContent]="tripDateString[7]"></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p [textContent]="tripDetailString[7]" class="trip-detail-dtext"></p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="col-4">
    <mat-card *ngIf="showFlag9"  class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image2"></div>
        <mat-card-title [textContent]="tripDestTitle[6]"></mat-card-title>
        <mat-card-subtitle [textContent]="tripDateString[6]"></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p [textContent]="tripDetailString[6]" class="trip-detail-dtext"></p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
