.new-invoice-content{
  margin: 3vh auto auto;
  height: 25vh;
  text-align: right;
}
.example-card{
  width: 400px;
  height: 200px;
  direction: rtl;
}
.example-header-image {
  width: 85px;
  height: 80px;
  background-image: url("../../../assets/trip3.png");
  background-size: cover;
}
.example-header-image2 {
  width: 85px;
  height: 80px;
  background-image: url("../../../assets/trip99.jpg");
  background-size: cover;
}
.example-header-image3 {
  width: 85px;
  height: 80px;
  background-image: url("../../../assets/trip11.jpg");
  background-size: cover;
}
.trip-detail-dtext{
  font-family: b nazanin;
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
}
.manage-trip-btns{
  background-color: #4060bd;
  font-family: b titr;
  color: white;
  border-radius: 13px;
  font-size: 12px;
  outline: none;
}
.trip-dest-dtext{
  font-family: B titr;
  font-weight: bolder;
  font-size: 19px;
}
.trip-date-dtext{
  font-weight: bold;
  margin-top: 10px;
}
