.new-invoice-content{
  margin: 3vh auto auto;
  height: 25vh;
  text-align: right;
}
.example-card {
  max-width: 400px;
  height: 200px;
  direction: rtl;
}

.example-header-image {
  width: 85px;
  height: 80px;
  background-image: url("../../../assets/trip3.png");
  background-size: cover;
}
.example-header-image2 {
  width: 85px;
  height: 80px;
  background-image: url("../../../assets/trip99.jpg");
  background-size: cover;
}
.example-header-image3 {
  width: 85px;
  height: 80px;
  background-image: url("../../../assets/trip11.jpg");
  background-size: cover;
}
.trip-detail-dtext{
  font-family: b nazanin;
  margin-top: 25px;
  font-size: 16px;
}
