.new-invoice-content{
  margin: 1vh auto auto;
  text-align: right;
  width: 90%;
}
.trip-detail-dtextarea{
  height: 90px;
  font-weight: bold;
}
.example-header-image {
  width: 85px;
  height: 80px;
  background-image: url("../../../assets/participant1.png");
  background-size: cover;
  margin: auto;
}
.participant-detail-info-dtext{
  font-family: b nazanin;
  margin-top: 10px;
  font-size: 16px;
}
.payer-full-name-dtext{
  font-family: b nazanin;
  margin-top: 4px;
  font-size: 17px;
  margin-right: 50px;
}
.payer-p{
  font-family: b nazanin;
  margin: 0 50px 0 0;
  font-size: 14px;
}
.edit-participant-info-btn{
  background-color: #4060bd;
  font-family: b titr;
  color: white;
  border-radius: 13px;
  font-size: 12px;
}
.participant-full-name-dtext{
  font-family: b nazanin;
  font-weight: bold;
  font-size: 16px;
  margin-top: 10px;
}
.transaction-title-dtext{
  font-family: b nazanin;
  font-weight: bold;
  font-size: 17px;
  margin-top: 10px;
}
.participant-username-dtext{
  font-family: b nazanin;
  font-size: 16px;
}
.transaction-cost-dtext{
  font-family: b nazanin;
  font-size: 17px;
}
.participants-card{
  margin-top: 10px;
  width: 308px;
  height: 255px;
  direction: rtl;
  text-align: center;
}
.transaction-card {
  margin-top: 10px;
  width: 300px;
  height: 185px;
  direction: rtl;
}
.return-to-recent-invoice-btn{
  width: 75px;
  background-color: #3e5db7;
  border-radius: 50px;
  border: 1px solid #98c1f1;
  color: white;
  height: 35px;
  outline: none;
  font-size: 14px;
  font-family: B Titr, serif;
  position: absolute;
  top: 93vh;
  left: 5vh;
}
.add-new-participant-btn{
  text-align: center;
  margin-top: 50px;
  background:none;
  border: none;
  outline: none;
  height: 10rem;
  width: 10rem;
}
.add-new-participant-img{
  height: 150px;
}
.transaction-header-img{
  width: 85px;
  height: 80px;
  background-image: url("../../../assets/price.png");
  background-size: cover;
  margin: 0;
}
.calculate-dong-btn{
  width: 113px;
  background-color: #184bab;
  border-radius: 50px;
  border: 1px solid #98c1f1;
  color: white;
  height: 50px;
  outline: none;
  font-size: 16px;
  font-family: B Titr, serif;
  margin-top: 25px;
}
.notebook-img{
  width: 65%;
}
.next-page-btn{
  width: 75px;
  background-color: #368ce8;
  border-radius: 50px;
  border: 1px solid #98c1f1;
  color: white;
  height: 35px;
  outline: none;
  font-size: 14px;
  font-family: B Titr, serif;
  position: absolute;
  top: 58vh;
  left: 93vh;
}
.previous-page-btn{
  width: 75px;
  background-color: #368ce8;
  border-radius: 50px;
  border: 1px solid #98c1f1;
  color: white;
  height: 35px;
  outline: none;
  font-size: 14px;
  font-family: B Titr, serif;
  position: absolute;
  top: 58vh;
  left: 72vh;
}
